<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
        function check(){
            var username=$("#user_name_sign_up").val();
            if(username.length==0||username==""){
                alert("用户名不能为空");
                return false;
            }
            var password=$("#password_sign_up").val();
            if(password.length==0||password==""){
                alert("密码不能为空");
                return false;
            }
            var email=$("#email_sign_up").val();
            if(email.length==0||email=="") {
                alert("邮箱不能为空");
                return false;
            }
            return true;
        }
	</script>
	<meta name="viewprot"
		content="width=devive-width,initial-scale=1,user-scalable=no">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6 col-sm-6">
					<div class="text-left">
						<img th:src="@{/image/logo.png}" height="50">
						<h4 style="display: inline;margin-left: 10px;">智能班课</h4>
					</div>
				</div>
				<div class="col-md-4 col-xs-4 col-sm-4">
					<div class="text-right">
						<ul class="list-unstyle list-inline" style="margin-top: 4px;">
							<li><h4><a th:href="@{/index}">帮助</a></h4></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="loginMain">
		<div id="loginAndRegister">
			<div class="row" style="margin-top: 20px">
				<div class="col-md-6 col-xs-6 col-sm-6">
					<a href="#" class="btn active btnActive" style="margin-left:20px"><h5>账号密码登录</h5></a>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<!--<a href="#" class="btn btnUnactive"><h5>短信验证登录</h5></a>-->
				</div>
			</div>
			<div class="form-group" style="margin-top: 50px;padding:0px 20px">
				<form method="post" enctype="multipart/form-data" th:action="@{/login_and_register}" name="login">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="email" name="username" id="username" class="form-control" placeholder="请使用邮箱登录">
					</div>
					<div class="input-group" style="margin-top: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" name="password" id="password" class="form-control" placeholder="请输入密码">
					</div>
<!--					<div class="row">
						<div class="col-md-6 col-xs-6 col-sm-6"><label class="checkbox-inline" style="margin-top: 10px"><input type="checkbox" name="save">30天自动登录</label></div>
						<div class="col-md-3 col-xs-3 col-sm-3"></div>
						<div class="col-md-3 col-xs-3 col-sm-3"><a href="#" class="btn btn-xs"><h6>忘记密码?</h6></a></div>
					</div>-->
					<button class="btn btn-success btn-lg" style="width: 100%;margin-top: 90px;" type="submit">登录</button>
				</form>
				<div class="row">
					<div class="col-md-5 col-xs-5 col-sm-5"><a type="button" class="btn btn-xs text-right" data-toggle="modal" data-target="#sign_up"><h6>注册蓝墨云账号</h6></a></div>
					<div class="col-md-2 col-xs-2 col-sm-2"></div>
					<!--<div class="col-md-5 col-xs-5 col-sm-5"><a href="#" class="btn btn-xs text-right"><h6>学校账号密码登录</h6></a></div>-->
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<h5 class="text-center">©2018 上海建桥学院</h5>
		<h5 class="text-center">地址：上海市浦东新区康桥路1500号    联系电话：13127945312    电子邮件：2637666515@qq.com </h5>
	</div>
	<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalLabel">注册</h4>
				</div>
				<div class="modal-body">
					<form enctype="multipart/form-data" method="post" onsubmit="return check()" th:action="@{'/sign_up'}">
						<div class="form-group">
							<label for="user_name_sign_up" class="control-label">用户名：</label>
							<input type="text" class="form-control" id="user_name_sign_up" name="userName">
						</div>
						<div class="form-group">
							<label for="password_sign_up" class="control-label">密码：</label>
							<input type="password" class="form-control" id="password_sign_up" name="password">
						</div>
						<div class="form-group">
							<label for="email_sign_up" class="control-label">邮箱：</label>
							<input type="text" class="form-control" id="email_sign_up" name="email">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="submit" class="btn btn-primary">注册</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>