<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<meta name="viewprot"
		content="width=devive-width,initial-scale=1,user-scalable=no">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6 col-sm-6">
					<div class="text-left">
						<img th:src="@{/image/logo.png}" height="50">
						<h4 style="display: inline;margin-left: 10px;">智能云班课</h4>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<div class="text-right">
						<ul class="list-unstyle list-inline" style="margin-top: 4px;" th:object="${session.user}">
							<li><a th:href="@{/task_list}"><span class="glyphicon glyphicon-flag"></span><h4 style="display: inline;margin-left: 5px;">任务中心</h4></a></li>
							<li><a th:href="@{/course_package}"><span class="glyphicon glyphicon-folder-close"></span><h4 style="display: inline;margin-left: 5px;">课程包</h4></a></li>
							<li><a th:href="@{/exam_list}"><span class="glyphicon glyphicon-hdd"></span><h4 style="display: inline;margin-left: 5px;">库管理</h4></a></li>
							<li><a th:href="@{/exam_list}"><span class="glyphicon glyphicon-list-alt"></span><h4 style="display: inline;margin-left: 5px;">我的题库</h4></a></li>
							<li><img th:src="@{${session.user.getAvatar()}}" style="width:34px;height:34px" class="img-responsive img-thumbnail"></li>
							<li><a th:href="@{/my_infor}"><h4 th:text="*{userName}"></h4></a></li>
							<li><a onclick="loginOut()"><h4>退出</h4></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="creatCourse">
		<div class="container">
			<form>
				<div class="form-group" style="padding:0px 20px;margin:50px auto 0 auto;width:700px">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
						<input type="search" name="coursename" id="coursename" class="form-control" placeholder="请输入课程名">
					</div>
					<div class="input-group" style="margin-top: 20px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-list"></span></span>
						<div class="form-group">
						    <select class="form-control">
						      <option>信息</option>
						      <option>电机</option>
						      <option>新闻</option>
						      <option>商</option>
						      <option>艺术</option>
						    </select>
					  </div>
					</div>
					<div class="row" style="margin-top: 20px">
						<div class="col-md-4 col-xs-4 col-sm-4"></div>
						<div class="col-md-1 col-xs-1 col-sm-1"><button class="btn">确定</button></div>
						<div class="col-md-2 col-xs-2 col-sm-2"></div>
						<div class="col-md-1 col-xs-1 col-sm-1"><button class="btn">取消</button></div>
						<div class="col-md-4 col-xs-4 col-sm-4"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="footer">
		<h5 class="text-center">©2018 上海建桥学院</h5>
		<h5 class="text-center">地址：上海市浦东新区康桥路1500号    联系电话：13127945312    电子邮件：2637666515@qq.com </h5>
	</div>
</body>
</html>