<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/ui.jqgrid.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.8.16.custom.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqGrid.src.js}"></script>
    <script type="text/javascript" th:src="@{/js/grid.locale-cn.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript">
        $(function(){
            var courseId=[[${current_course.getCourseId()}]];
            var urlTemp='/SmartOnlineCourse/homework_list/'+courseId;
            jQuery("#homework_list").jqGrid({
                url:urlTemp,
                datatype:"json",
                mtype:"POST",
                colNames:['作业编号','作业名','文件名','作业描述','作业批次','截止时间','提交时间','分数','状态'],
                colModel:[
                    {name:'homeworkId',index:'homeworkId',align:'center'},
                    {name:'title',index:'title',align:'center'},
                    {name:'attachment',index:'attachment',align:'center'},
                    {name:'describe',index:'describe',align:'center'},
                    {name:'batch',index:'batch',align:'center'},
                    {name:'endTimeString',index:'endTimeString',align:'center'},
                    {name:'submitTimeString',index:'submitTimeString',align:'center'},
                    {name:'score',index:'score',align:'center'},
                    {name:'status',index:'status',align:'center'}
                ],
                viewrecords:true,
                rowNum:10,
                rowList:[10,20,30],
                pager:'#homework_page',
                width: 1024,
                jsonReader:{
                    root:"data",
                    page:"page",
                    total:"total",
                    records:"records",
                    repeatitems:false
                }
            });
        });
        function check() {
            var title = $("#title").val();
            if (title.length == 0 || title == "") {
                alert("作业名不能为空");
                return false;
            }
            var batch = $("#batch").val();
            if (batch.length == 0 || batch == "") {
                alert("作业批次不能为空");
                return false;
            }
            var describe = $("#describe").val();
            if (describe.length == 0 || describe == "") {
                alert("作业描述不能为空");
                return false;
            }
            var endTime = $("#end_time").val();
            if (endTime.length == 0 || endTime == "") {
                alert("作业截止时间不能为空");
                return false;
            }
            var file = $("#file").val();
            if (file.length == 0 || file == "") {
                alert("上传文件不能为空");
                return false;
            }
        }
        function homeworkUpload() {
            var rowId=$("#homework_list").jqGrid("getGridParam","selrow");
            if (!rowId) {
                alert("请选择一条记录");
                return false    ;
            } else {
                var file=$("#file2").val();
                if(file.length==0||file==""){
                    return false;
                }
                var data = $("#homework_list").jqGrid("getRowData", rowId);
                var homeworkId=data.homeworkId;
                var courseId=[[${current_course.getCourseId()}]];
                var url=$("#homework_upload_form").attr("action");
                url=url+courseId+"/"+homeworkId;
                $("#homework_upload_form").attr("action",url);
                return true;
            }
        }
        function homeworkDownload() {
            var rowId=$("#homework_list").jqGrid("getGridParam","selrow");
            if (!rowId) {
                alert("请选择一条记录");
                return;
            } else {
                var data = $("#homework_list").jqGrid("getRowData", rowId);
                var homeworkId=data.homeworkId;
                window.location.href="/SmartOnlineCourse/homework_download/"+homeworkId;
            }
        }
        function homeworkEvaluate() {
            var rowId=$("#homework_list").jqGrid("getGridParam","selrow");
            if (!rowId) {
                alert("请选择一条记录");
                return false    ;
            } else {
                var score=$("#score").val();
                if(score.length==0||score==""){
                    return false;
                }
                var data = $("#homework_list").jqGrid("getRowData", rowId);
                var homeworkId=data.homeworkId;
                var courseId=[[${current_course.getCourseId()}]];
                var url="/SmartOnlineCourse/homework_evaluate";
                $.ajaxSettings.async=false;
                $.ajax({
                    url:url,
                    type:"POST",
                    dataType:"json",
                    data:{
                        "homeworkId":homeworkId,"score":score
                    },
                    success: function(data){
                        console.log(data);
                    },
                    error:function(){
                    }
                });
            }
        }
        function loginOut(){
            //$(location).attr('href', 'index');
            //$(window).attr('location','index');
            $(location).prop('href', 'index');
            $.session.clear();
        }
    </script>
    <meta name="viewprot"
          content="width=devive-width,initial-scale=1,user-scalable=no">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="text-left">
                        <img th:src="@{/image/logo.png}" height="50">
                        <h4 style="display: inline;margin-left: 10px;">智能云班课</h4>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="text-right">
                        <ul class="list-unstyle list-inline" style="margin-top: 4px;" th:object="${session.user}">
                            <li><a th:href="@{/course_package}"><span class="glyphicon glyphicon-folder-close"></span><h4 style="display: inline;margin-left: 5px;">课程包</h4></a></li>
                            <li><a th:href="@{/my_index}"><span class="glyphicon glyphicon-list-alt"></span><h4 style="display: inline;margin-left: 5px;">我的课程</h4></a></li>
                            <li><img th:src="@{${session.user.getAvatar()}}" style="width:34px;height:34px" class="img-responsive img-thumbnail"></li>
                            <li><a th:href="@{/my_infor}"><h4 th:text="*{userName}"></h4></a></li>
                            <li><a onclick="loginOut()"><h4>退出</h4></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:172px;width: 100%;background: url(../image/header_background.jpg) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-xs-2 col-sm-2">
                        <img th:src="@{${current_course.getAvatar()}}" class="img-responsive img-thumbnail">
                    </div>
                    <div class="col-md-10 col-xs-10 col-sm-10">
                        <h2 th:text="${current_course.getCourseName()}"></h2>
                        <h3 th:text="${current_course.getUserName()}"></h3>
                        <ul class="list-unstyle list-inline" style="margin-top: 4px;">
                            <li><a class="btn" th:href="@{'/course_ware/'+${current_course.getCourseId()}}"><h4>课件</h4></a></li>
                            <li><a class="btn" th:href="@{'/homework/'+${current_course.getCourseId()}}"><h4>作业</h4></a></li>
                            <li><a class="btn" th:href="@{'/discuss/'+${current_course.getCourseId()}}"><h4>讨论/投票</h4></a></li>
                            <li><a class="btn" th:href="@{'/message/'+${current_course.getCourseId()}}"><h4>消息</h4></a></li>
                            <li><a class="btn" th:href="@{'/sign/'+${current_course.getCourseId()}}"><h4>签到</h4></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:500px;height:30px;margin:200px auto 0 auto" id="course_ware" class="container">
        <div type="button" class="btn btn-primary" th:if="${current_course.getOwnFlag()}" data-toggle="modal" data-target="#homework_create" >作业创建</div>
        <div class="btn btn-primary" onclick="homeworkDownload()" style="margin-left: 2%">作业下载</div>
        <div class="btn btn-primary" data-toggle="modal" data-target="#homework_upload" style="margin-left: 2%">作业上传</div>
        <div type="button" class="btn btn-primary" th:if="${current_course.getOwnFlag()}" data-toggle="modal" data-target="#homework_evaluate" style="margin-left: 2%">作业评分</div>
    </div>
    <div class="container" style="margin-top: 5%">
        <table id="homework_list"></table>
        <div id="homework_page"></div>
    </div>
    <div class="modal fade" id="homework_create" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">创建作业</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post" onsubmit="return check()" th:action="@{'/homework_release/'+${current_course.getCourseId()}}">
                        <div class="form-group">
                            <label for="title" class="control-label">作业名：</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="end_time" class="control-label">作业截止时间:</label>
                            <div id="time_format" class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="end_time">
                                <input class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" id="end_time" name="end_time" value="" /><br/>
                        </div>
                        <div class="form-group">
                            <label for="batch" class="control-label">作业批次：</label>
                            <input type="text" class="form-control" id="batch" name="batch">
                        </div>
                        <div class="form-group">
                            <label for="describe" class="control-label">作业描述：</label>
                            <input type="text" class="form-control" id="describe" name="describe">
                        </div>
                        <input id="file" name="file" type="file" class="file" data-show-preview="false">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">创建</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="homework_upload" tabindex="-1" role="dialog" aria-labelledby="modalLabel2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel2">上传作业</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post" id="homework_upload_form" onsubmit="return homeworkUpload()" th:action="@{'/homework_upload/'}">
                        <input id="file2" name="file" type="file" class="file" data-show-preview="false">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">上传</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="homework_evaluate" tabindex="-1" role="dialog" aria-labelledby="modalLabel3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel3">作业评分</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="homeworkEvaluate()">
                        <div class="form-group">
                            <label for="score" class="control-label">作业评分：</label>
                            <input type="text" class="form-control" id="score" name="score">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">评分</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            initialDate:"[[${now}]]"
        });
    </script>
</body>
</html>