<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <meta name="viewprot"
          content="width=devive-width,initial-scale=1,user-scalable=no">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="text-left">
                    <img th:src="@{/image/logo.png}" height="50">
                    <h4 style="display: inline;margin-left: 10px;">智能云班课</h4>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="text-right">
                    <ul class="list-unstyle list-inline" style="margin-top: 4px;" th:object="${session.user}">
                        <li><a th:href="@{/task_list}"><span class="glyphicon glyphicon-flag"></span><h4 style="display: inline;margin-left: 5px;">任务中心</h4></a></li>
                        <li><a th:href="@{/course_package}"><span class="glyphicon glyphicon-folder-close"></span><h4 style="display: inline;margin-left: 5px;">课程包</h4></a></li>
                        <li><a th:href="@{/exam_list}"><span class="glyphicon glyphicon-hdd"></span><h4 style="display: inline;margin-left: 5px;">库管理</h4></a></li>
                        <li><a th:href="@{/exam_list}"><span class="glyphicon glyphicon-list-alt"></span><h4 style="display: inline;margin-left: 5px;">我的题库</h4></a></li>
                        <li><img th:src="@{${session.user.getAvatar()}}" style="width:34px;height:34px" class="img-responsive img-thumbnail"></li>
                        <li><a th:href="@{/my_infor}"><h4 th:text="*{userName}"></h4></a></li>
                        <li><a onclick="loginOut()"><h4>退出</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="height:172px;width: 100%;background: url(/static/image/header_background.JPG) no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <img src="images/3.jpg" class="img-responsive img-thumbnail">
                </div>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <h2>课程名</h2>
                    <h3>任课老师</h3>
                    <ul class="list-unstyle list-inline" style="margin-top: 4px;">
                        <li><a class="btn"><h4>课件</h4></a></li>
                        <li><a class="btn"><h4>作业</h4></a></li>
                        <li><a class="btn"><h4>讨论</h4></a></li>
                        <li><a class="btn"><h4>消息</h4></a></li>
                        <li><a class="btn"><h4>签到</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="message" class="container" style="width: 480px;height:336px;margin:20px auto">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>消息</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>