<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/ui.jqgrid.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.8.16.custom.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqGrid.src.js}"></script>
    <script type="text/javascript" th:src="@{/js/grid.locale-cn.js}"></script>
	<script type="text/javascript">
        $(function(){
            var courseId=[[${current_course.getCourseId()}]];
            var ownFlag=[[${current_course.getOwnFlag()}]];
            var urlTemp='/SmartOnlineCourse/sign_list/'+courseId+'/'+ownFlag;
            jQuery("#sign_list").jqGrid({
				url:urlTemp,
                datatype:"json",
                mtype:"POST",
                colNames:['学生姓名','签到批次','结束时间','签到时间','签到状态'],
                colModel:[
                    {name:'userName',index:'userName',align:'center'},
                    {name:'batch',index:'batch',align:'center'},
                    {name:'endTimeString',index:'endTime',align:'center'},
                    {name:'signTimeString',index:'signTime',align:'center'},
                    {name:'status',index:'status',align:'center'}
                ],
                viewrecords:true,
                rowNum:10,
                rowList:[10,20,30],
                pager:'#sign_page',
                jsonReader:{
                    root:"data",
                    page:"page",
                    total:"total",
                    records:"records",
                    repeatitems:false
                }
            });
        });
        function signIn() {
            var courseId=[[${current_course.getCourseId()}]];
            var userId=[[${session.user.getUserId()}]];
            var code=$("#sign_code").val();
            var ownFlag=[[${current_course.getOwnFlag()}]];
            var urlTemp='/SmartOnlineCourse/sign_list/'+courseId+'/'+ownFlag;
            $.ajax({
                url:"/SmartOnlineCourse/sign_in",
                type:"POST",
                dataType:"json",
                data:{
                    "courseId":courseId,"userId":userId,"code":code
                },
                success: function(data){
                },
                error:function(){
                }
            });
            $("#sign_list").jqGrid('setGridParam', {
                url: urlTemp,
                mtype: "POST",
                datatype: "json",
            }).trigger("reloadGrid");
        }
        function signRelease() {
            var courseId=[[${current_course.getCourseId()}]];
            var code=$("#sign_code_own").val();
            var effectiveMinute=$("#effective_minute").val();
            var ownFlag=[[${current_course.getOwnFlag()}]];
            var urlTemp='/SmartOnlineCourse/sign_list/'+courseId+'/'+ownFlag;
            $.ajax({
                url:"/SmartOnlineCourse/sign_release",
                type:"POST",
                dataType:"json",
                data:{
                    "courseId":courseId,"code":code,"effectiveMinute":effectiveMinute
                },
                success: function(data){
                    alter(date);
                },
                error:function(){
                }
            });
            $("#sign_list").jqGrid('setGridParam', {
                url: urlTemp,
                mtype: "POST",
                datatype: "json",
            }).trigger("reloadGrid");
        }
        function loginOut(){
            //$(location).attr('href', 'index');
            //$(window).attr('location','index');
            $(location).prop('href', 'index');
            $.session.clear();
        }
	</script>
	<meta name="viewprot"
		  content="width=devive-width,initial-scale=1,user-scalable=no">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6 col-sm-6">
					<div class="text-left">
						<img th:src="@{/image/logo.png}" height="50">
						<h4 style="display: inline;margin-left: 10px;">智能云班课</h4>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					<div class="text-right">
						<ul class="list-unstyle list-inline" style="margin-top: 4px;" th:object="${session.user}">
							<li><a th:href="@{/course_package}"><span class="glyphicon glyphicon-folder-close"></span><h4 style="display: inline;margin-left: 5px;">课程包</h4></a></li>
							<li><a th:href="@{/my_index_return}"><span class="glyphicon glyphicon-list-alt"></span><h4 style="display: inline;margin-left: 5px;">我的课程</h4></a></li>
							<li><img th:src="@{${session.user.getAvatar()}}" style="width:34px;height:34px" class="img-responsive img-thumbnail"></li>
							<li><a th:href="@{/my_infor}"><h4 th:text="*{userName}"></h4></a></li>
							<li><a onclick="loginOut()"><h4>退出</h4></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div style="height:172px;width: 100%;background: url(../image/header_background.jpg) no-repeat;">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-xs-2 col-sm-2">
						<img th:src="@{${current_course.getAvatar()}}" class="img-responsive img-thumbnail">
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6">
						<h2 th:text="${current_course.getCourseName()}"></h2>
						<h3 th:text="${current_course.getUserName()}"></h3>
						<ul class="list-unstyle list-inline" style="margin-top: 4px;">
							<li><a class="btn" th:href="@{'/course_ware/'+${current_course.getCourseId()}}"><h4>课件</h4></a></li>
							<li><a class="btn" th:href="@{'/homework/'+${current_course.getCourseId()}}"><h4>作业</h4></a></li>
							<li><a class="btn" th:href="@{'/discuss/'+${current_course.getCourseId()}}"><h4>讨论/投票</h4></a></li>
							<li><a class="btn" th:href="@{'/message/'+${current_course.getCourseId()}}"><h4>消息</h4></a></li>
							<li><a class="btn" th:href="@{'/sign/'+${current_course.getCourseId()}}"><h4>签到</h4></a></li>
							<li><a class="btn" data-toggle="modal" data-target="#course_score"><h4>评分</h4></a></li>
						</ul>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2">
						<h1>评分：</h1>
						<h1 style="font-size: 80px" th:text="${current_course.getAvgScore()}"></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 235px;height:30px;margin:200px auto 0 auto" id="sign" class="container" th:if="${not current_course.getOwnFlag()}">
		<!--<form th:action="@{'/sign_in/'+${current_course.getCourseId()}}" name="sign_in" method="post">-->
        <form>
			<input type="text" name="sign_code" id="sign_code" placeholder="请输入6位验证码"/>
			<input type="button" class="btn btn-primary" style="margin: 10px 0 0 50px" onclick="signIn()" value="签到">
		</form>
		</div>
	</div>
    <div style="width: 740px;height:240px;margin:200px auto 0px auto" id="sign_release" class="container" th:if="${current_course.getOwnFlag()}">
		<!--<form th:action="@{'/sign_release/'+${current_course.getCourseId()}}" name="sign_release" method="post">-->
        <form>
			<div class="form-group" style="padding:0px 20px;margin:50px auto 0 auto;width:700px">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
					<input type="search" name="sign_code_own" id="sign_code_own" class="form-control" placeholder="请输入签到验证码 ">
				</div>
			</div>
			<div class="form-group" style="padding:0px 20px;margin:50px auto 0 auto;width:700px">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					<input type="search" name="effective_minute" id="effective_minute" class="form-control" placeholder="请输入签到有效时间（分钟） ">
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4 col-xs-4 col-sm-4"></div>
				<div class="col-md-1 col-xs-1 col-sm-1"><button class="btn" onclick="signRelease()">确定</button></div>
				<div class="col-md-2 col-xs-2 col-sm-2"></div>
				<div class="col-md-1 col-xs-1 col-sm-1"><button class="btn">取消</button></div>
				<div class="col-md-4 col-xs-4 col-sm-4"></div>
			</div>
		</form>
	</div>
    <div class="container" style="margin-top: 5%">
        <table id="sign_list"></table>
        <div id="sign_page"></div>
    </div>
	<div class="modal fade" id="course_score" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalLabel3">评分</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="score" class="control-label">对本课程的评分：</label>
						<input type="text" class="form-control" id="score" name="score">
					</div>
					<div class="modal-footer">
						<button id="course_score_close" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button id="course_score_submit" type="button" class="btn btn-primary">评分</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        function courseScore(){
            var score=$("#score").val();
            var courseId=[[${current_course.getCourseId()}]];
            $.ajax({
                url:"/SmartOnlineCourse/course_score",  // 后台地址
                type:"POST",
                dataType:"json",
                data:{"score":score,"courseId":courseId},  //自己需要传递的数据 {}
                success: function(data){//成功
                    $("#course_score").modal("hide");
                },
                error:function(){//出错
                }
            });
        }
        $("#course_score_submit").click(function(){
            courseScore();
        });
	</script>
</body>
</html>