<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spark.smartonlinecourse.dao.HomeworkMapper" >
    <resultMap id="HomeworkResultMap" type="spark.smartonlinecourse.entity.Homework" >
        <id column="homework_id" property="homeworkId" jdbcType="INTEGER" />
        <result column="choose_course_id" property="chooseCourseId" jdbcType="INTEGER" />
        <result column="course_id" property="courseId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="describe" property="describe" jdbcType="VARCHAR"/>
        <result column="attachment" property="attachment" jdbcType="VARCHAR"/>
        <result column="batch" property="batch" jdbcType="INTEGER"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP"/>
        <result column="range" property="range" jdbcType="CHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="HomeworkNotSubmitMap" type="spark.smartonlinecourse.entity.Key">
        <id column="choose_course_id" property="chooseCourseId" jdbcType="INTEGER"/>
        <result column="count_num" property="count" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Homework_Column_List" >
        homework_id,homework.choose_course_id,user_id,course_id,title,`describe`,attachment,batch,end_time,submit_time,`range`,homework.score
    </sql>

    <select id="selectHomework" parameterType="spark.smartonlinecourse.entity.Key" resultMap="HomeworkResultMap">
        select
        <include refid="Homework_Column_List"/>
        from homework
        join choose_course on homework.choose_course_id=choose_course.choose_course_id
        <where>
            <if test="homeworkId != null and homeworkId != ''">
                and homework_id=#{homeworkId}
            </if>
            <if test="courseId != null and courseId != ''">
                and course_id=#{courseId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id=#{userId}
            </if>
        </where>
        order by homework_id desc
        <if test="start != null and start != ''">
            limit #{start},#{row}
        </if>
    </select>

    <insert id="insertHomework" parameterType="java.util.List">
        insert into homework(choose_course_id,title,`describe`,attachment,batch,end_time) values
        <foreach collection="list" item="homework" separator=",">
            (#{homework.chooseCourseId},#{homework.title},#{homework.describe},#{homework.attachment},#{homework.batch},#{homework.endTime,jdbcType=TIMESTAMP,javaType=java.time.LocalDateTime})
        </foreach>
    </insert>
    
    <update id="updateHomework" parameterType="spark.smartonlinecourse.entity.Homework">
        update homework
        <set>
            <if test="attachment != null">
                attachment =#{attachment},
            </if>
            <if test="submitTime != null">
                submit_time=#{submitTime,jdbcType=TIMESTAMP,javaType=java.time.LocalDateTime},
            </if>
            <if test="score != null and score != ''">
                score=#{score}
            </if>
        </set>
        where homework_id=#{homeworkId}
    </update>

    <select id="selectChooseCourseIdAndCount" resultMap="HomeworkNotSubmitMap">
        select choose_course_id,count(*) as count_num from homework where submit_time is null
        group by choose_course_id
    </select>
</mapper>