<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spark.smartonlinecourse.dao.MessageMapper">
    <resultMap id="MessageResultMap" type="spark.smartonlinecourse.entity.Message">
        <id column="message_id" property="messageId" jdbcType="INTEGER"/>
        <result column="choose_course_id" property="chooseCourseId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="publish_date" property="publishDate" jdbcType="DATE"/>
    </resultMap>
    <sql id="Message_Column_List">
        message_id,choose_course_id,content,publish_date
    </sql>

    <insert id="insertMessage" parameterType="java.util.List">
        insert into message(choose_course_id, content, publish_date) values
        <foreach collection="list" item="message" separator=",">
            (#{message.chooseCourseId},#{message.content},#{message.publishDate,jdbcType=DATE,javaType=java.time.LocalDate})
        </foreach>
    </insert>

    <select id="selectByChooseCouseId" parameterType="java.lang.Integer" resultMap="MessageResultMap">
        select
        <include refid="Message_Column_List"/>
        from message
        where choose_course_id=#{chooseCourseId}
    </select>
</mapper>